<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @timelog.project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @timelog.user.email %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @timelog.amount %>
</p>

<p>
  <strong>Billable:</strong>
  <%= @timelog.billable %>
</p>

<%= link_to 'Edit', edit_timelog_path(@timelog) %> |
<%= link_to 'Back', timelogs_path %>
